<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>资源管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="${request.contextPath}/css/layui.css" media="all">
	<link rel="stylesheet" href="${request.contextPath}/css/style.css" media="all">

</head>
<body>
<div class="layui-item-body">
	<fieldset class="layui-elem-field">
		<div class="layui-field-box">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">角色标题</label>
						<div class="layui-input-inline">
							<input type="text" id="search_text_title" lay-verify=""
								   autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">角色编码</label>
						<div class="layui-input-inline">
							<input type="text" id="search_text_code" lay-verify=""
								   autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline">
							<select id="search_cmd_status" lay-verify="">
								<option value="">全部</option>
								<option value="1">正常</option>
								<option value="0">禁用</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
	</fieldset>
	<#include "../../include/authority.html" />
</div>
</body>
</html>