<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath }/css/layui.css" media="all">
    <style type="text/css">
        .layui-col-md3 {
            width: 11%;
        }

        .lay-body {
            background: #fff;
            margin: 10px;
            padding: 20px;
            border-radius: 5px;
        }

        .layui-upload img {
            width: 150px;
            height: 150px;
        }
    </style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="lay-body">
        <form class="layui-form" lay-filter="modify-teacher">
            <div style="float: left;line-height: 38px;"><h3 style="color: #777777;">用户信息</h3></div>
            <div style="float: right;margin-bottom: 5px;">
                <button class="layui-btn" id="btn_save" lay-submit="" lay-filter="formUser">保 存</button>
            </div>
            <hr>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md3" style="text-align: center">
                    <div class="grid-demo">
                        <div class="layui-upload">
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="img_cover"
                                     src="${request.contextPath }/images/empty_face.png">
                                <p id="upload_text"></p>
                            </div>
                            <button type="button" class="layui-btn" id="btn_head_upload">
                                <i class="layui-icon">&#xe61f;</i>上传封面
                            </button>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md9">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-form-item" style="width: 400px">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block">
                                <input type="text" id="input_account" name="account" lay-verify="required" autocomplete="off"
                                       placeholder="请输入账号"
                                       class="layui-input layui-disabled">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 400px">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                                <input type="text" id="input_nice" name="nice" lay-verify="required" autocomplete="off"
                                       placeholder="请输入姓名"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 400px">
                            <label class="layui-form-label">教师职称</label>
                            <div class="layui-input-block">
                                <select id="cmd_position" name="positionId" lay-verify="">
                                    <option value="">请选择教师职称</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 400px">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" id="input_phone" name="phone" maxlength="11" lay-verify="required|phone" autocomplete="off"
                                       placeholder="请输入联系电话"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" style="width: 400px">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-block">
                                <input type="text" id="input_email" name="email" lay-verify="required|email" autocomplete="off"
                                       placeholder="请输入邮箱"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath }/layui.js" charset="utf-8"></script>
<script src="${request.contextPath }/lay/modules/xm-select.js"></script>
<script>

    layui.use(['form', 'handler', 'urlparams', 'layedit', 'upload'], function () {
        var form = layui.form
            , $ = layui.$
            , handler = layui.handler
            , urlparams = layui.urlparams
            , layedit = layui.layedit
            , upload = layui.upload;

        var loading;

        $(function () {
            loading = layer.msg('玩命加载中，请稍候...', {
                icon: 16,
                time: false,
                shade: 0.4
            });
            loadTitleAll();
        });

        function loadTitleAll() {
            $.ajax({
                url: parent.appBaseUri + '/v1/resources/dictionary/all?classify=title',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    layer.close(loading);
                    handler(data, function(){
                        data.list.forEach(function (v, i) {
                            var li = '<option value="' + v.dictionary_id + '">' + v.title + '</option>';
                            $('#cmd_position').append(li);
                        });
                        form.render();

                        form.val('modify-teacher', {
                            'account': '${(sysUser.account)!}',
                            'nice': '${(sysUserBasic.nice)!}',
                            'phone': '${(sysUserBasic.phone)!}',
                            'email': '${(sysUserBasic.email)!}',
                            'positionId': '${(sysUserBasic.positionId)!}'
                        });

                        var face = '${(sysUserBasic.face)!}';
                        if(face){
                            $('#img_cover').attr('src', '/img/' + face);
                        }

                        form.render();
                    });
                }
            });
        }

        var userBase;

        var uploadInst = upload.render({
            elem: '#btn_head_upload',
            auto: false,
            size: 800,
            accept: 'file',
            choose: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#img_cover').attr('src', result); //图片链接（base64）
                    userBase = file;
                });
            },
            done: function (res) {
                console.log(res)
            },
            error: function () {
            }
        });

        form.on('submit(formUser)', function (data) {
            var formData = new FormData();
            formData.append("nice", $("#input_nice").val());
            formData.append("phone", $("#input_phone").val());
            formData.append("email", $("#input_email").val());
            formData.append("positionId", $("#cmd_position").val());
            formData.append("file", userBase);

            var loading = layer.msg('玩命加载中，请稍候...', {
                icon: 16,
                time: false,
                shade: 0.4
            });
            $.ajax({
                url: parent.appBaseUri + '/v1/resources/teacher/modify?sysUserId=' + urlparams('id'),
                type: 'post',
                cache: false,
                // 告诉jQuery不要去处理发送的数据
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    layer.close(loading);
                    handler(data, function () {
                        layer.alert(data.msg, {
                            icon: 1
                        }, function (index) {
                            var layId = urlparams("layId");
                            parent.$("iframe[src='" + layId + "']")[0].contentWindow.tableReload();
                            var layId = location.pathname + location.search;
                            parent.delTab(layId);
                        });
                    });
                }
            });
            return false;
        });
    });
</script>
</body>

</html>