<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>更新用户密码</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="${request.contextPath }/css/layui.css" media="all">
	<style type="text/css">
		.layui-layout-admin .layui-footer {
			left: 0px;
			padding: 4px 10px;
			text-align: right;
		}

		form input.layui-input[disabled] {
			background: #f2f2f2;
			color: #595963 !important;
		}

		body {
			background: #fff;
		}
	</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
	<form class="layui-form" style="margin-top: 10px; margin-right: 10px;">
		<div class="layui-form-item">
			<label class="layui-form-label">用户账号</label>
			<div class="layui-input-block">
				<input type="text" value="${(account)! }" disabled
					   class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">原始密码</label>
			<div class="layui-input-block">
				<input type="password" id="input_old_pwd" lay-verify="required"
					   placeholder="请输入账号原始密码" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-block">
				<input type="password" id="input_new_pwd" lay-verify="required"
					   placeholder="请输入账号新密码" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
				<input type="password" id="input_confirm_pwd" lay-verify="required"
					   placeholder="请确认账号新密码" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-footer">
			<button class="layui-btn" id="btn_save" lay-submit=""
					lay-filter="formPassword">更 新
			</button>
			<button type="reset" class="layui-btn layui-btn-primary">重
				置
			</button>
		</div>
	</form>

</div>
<script src="${request.contextPath }/layui.js" charset="utf-8"></script>
<script>
	//Demo
	layui.use('form', function () {
		var form = layui.form;
		var $ = layui.$;

		form.on('submit(formPassword)', function (data) {
			if ($("#input_new_pwd").val() != $("#input_confirm_pwd").val()) {
				layer.alert('两次密码输入不一致', {
					icon: 2
				});
			} else {
				var loadding = layer.msg('玩命加载中，请稍候...', {
					icon: 16,
					time: false,
					shade: 0.4
				});
				$.ajax({
					url: parent.appBaseUri + '/v1/modify/password',
					type: 'post',
					data: {
						oldPwd: $("#input_old_pwd").val(),
						newPwd: $("#input_new_pwd").val()
					},
					dataType: 'json',
					success: function (data) {
						layer.close(loadding);
						if (data.code == '10000') {
							layer.alert(data.msg, {
								icon: 1
							}, function (index) {
								var index = parent.layer
										.getFrameIndex(window.name);
								parent.layer.close(index);
							});
						} else {
							layer.alert(data.errorMsg, {
								icon: 2
							});
						}
					},
					error: function (data, status, e) {
						layer.alert(data.errorMsg, {
							icon: 2
						});
						layer.close(loadding);
					}
				});
			}
			return false;
		});
	});
</script>
</body>
</html>